<div class="tags mr-auto mb-2 mb-md-0">
    {{#foreach tags}}
        {{!-- <strong class="card-subtitle mb-0 text-primary text-uppercase"></strong> --}}
        <a class="btn btn-outline-secondary btn-sm text-uppercase" style="letter-spacing: 1px; font-size: .666rem" href="{{url}}" role="button">{{name}}</a>
    {{/foreach}}
</div>
