<nav id="footer-nav" class="">
    <div class="content-wrap">
        <ul class="item-list">
            <li class="nav-item copyright">© 2020 {{@site.title}}</li>
            {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
            {{/if}}
            <li class="nav-item top-anchor"><a class="nav-link" href="#top">Back to Top ↑</a></li>
        </ul>
    </div>
</nav>
