<nav aria-label="Page navigation" class="main-pagination">
    <ul class="pagination">
        <li class="page-item next-posts{{^if prev}} disabled{{/if}}">
            <a class="newer-posts page-link" href="{{page_url prev}}">«</a>
        </li>
        <li class="page-item">
            <span class="page-number">Page {{page}} of {{pages}}</span>
        </li>
        <li class="page-item prev-posts{{^if next}} disabled{{/if}}">
            <a class="older-posts page-link" href="{{page_url next}}">»</a>
        </li>
  </ul>
</nav>
