<!-- Primary pagination begins here -->
<nav class="main-pagination" aria-label="Main page navigation">
    <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 p-0">
                <div class="container">
                    <ul class="pagination justify-content-center align-items-center m-0 pb-5">
                        <li class="page-item flex-grow-1{{^if prev}} disabled{{/if}}"><a class="page-link page-previous rounded-sm text-primary font-weight-bold text-center" style="font-size: 1.5rem; line-height: 1.5rem;" href="{{page_url prev}}">&laquo;</a></li>
                        <li class="page-item small px-5">Page {{page}} of {{pages}}</li>
                        <li class="page-item flex-grow-1{{^if next}} disabled{{/if}}"><a class="page-link{{#if next}} page-next{{/if}} rounded-sm text-primary font-weight-bold text-center" style="font-size: 1.5rem; line-height: 1.5rem;" href="{{page_url next}}">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
