<nav aria-label="Main Page Navigation">
  <ul class="d-flex flex-column flex-sm-row justify-content-between align-items-center align-items-sm-baseline text-muted pagination">
    <li class="mr-sm-auto mb-4 mb-sm-0 page-item small">Page {{page}} of {{pages}}</li>
    <li class="page-item mb-3 mb-sm-0{{^if prev}} isDisabled{{/if}}"><a class="page-link text-dark" href="{{page_url prev}}">&larr; Previous</a></li>
    <li class="page-item ml-sm-3{{^if next}} isDisabled{{/if}}"><a class="page-link text-dark" href="{{page_url next}}">Next &rarr;</a></li>
  </ul>
</nav>
