<li class="post-item">
    <article class="post-excerpt type-post">
        <a href="{{url}}" class="post-item-title">
            <header class="post-header">
                <h2>{{ title }}</h2>
                <span class="post-item-date">{{date published_at format="LL"}}</span>
            </header>
            <section class="post-item-content">
                <p class="">{{excerpt}}</p>
            </section>
        </a>
    </article>
</li>
