<li class="post-item">
    <article class="post-excerpt type-status">
        <header class="post-header">
            <a href="{{url}}" class="post-item-date">{{date published_at format="LLL"}}<i class="fas fa-link"></i></a>
        </header>
        <section class="post-item-content">
            {{ content }}
        </section>
    </article>
</li>
