<li class="post-item">
    <article class="post-item-content type-status">
        <section class="post-item-text">
            {{ content }}
        </section>
        <small class="post-item-date"><a href="{{url}}" class="post-item-date-link">{{date published_at format="LLL"}} <i class="fas fa-link"></i></a></small>
    </article>
</li>
