<aside class="tags">
    <ul class="taglist">
        {{#foreach tags}}
            <li class="taglist-item">
                <a class="tag tag-link" href="{{url}}" title="Posts tagged with {{name}}">{{name}}</a>
            </li>
        {{/foreach}}
    </ul>
</aside>
