<h1 class="blog-title"><i class="fas fa-terminal"></i> {{@site.title}}</h1>
<nav id="top-nav">
    <!-- Loop through the navigation items -->
    {{#if @site.navigation}}
    {{navigation}}
    {{/if}}
    <!-- End the loop -->
</nav>
