{{!< default}}
<div class="full-page">
    {{#post}}
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-md-11 col-lg-8 p-lg-0 mx-auto bg-white">
                <div class="post-content mb-5 text-center" style="margin-top: 10vw;">
                <h1 class="color-grayblack font-weight-bold m-0" style="font-size: 12vw;">404</h1>
                <h2 class="text-muted m-0" style="">Page not found</h2>
                <div class="mt-2"><a href="/">Go to the front page →</a></div>
            </div>
        </div>
    </div>
</div>
{{/post}}
