{{!< default}}
<div class="row h-100">
    <div class="post-feed px-4 px-lg-5 pt-5 col-lg-8 col-md-10 mx-auto h-100">
        {{#foreach posts}}
            {{> "index-post-entry"}}
        {{/foreach}}
        {{#if pagination}}
            {{pagination}}
        {{/if}}    
    </div>
</div>

{{#contentFor "scripts"}}
<script src="{{asset "js/infinite-scroll.pkgd.min.js"}}"></script>
<script>
    $(document).ready(function(){
        // Activate infinite scrolling
        $('.post-feed').infiniteScroll({
            // options
            path: '.page-next',
            append: '.post',
            history: false,
            hideNav: '.main-pagination'
        });
        // Execute fitvid.js after new content is fetched
        $('.post-feed').on('append.infiniteScroll', function(event, response, path, items) {
            $(".kg-embed-card").fitVids();
            //console.log( 'Loaded: ' + path );
        });
    });
</script>
{{/contentFor}}
