{{!< default}}
<div class="row">
    <div class="col-12 mx-auto border rounded bg-white" style="max-width: 47em;">
        <ul class="post-list list-unstyled pt-4 pb-5 px-sm-3 p-md-5 mb-0">
            {{#foreach posts}}
            {{> "index-post-entry"}}
            {{/foreach}}
        </ul>
        {{#if pagination}}
        {{pagination}}
        {{/if}}
    </div>
</div>
