{{!< default}}
{{#is 'index'}}
    {{> header background=@site.cover_image}}
{{else}}
    {{> header background=@site.cover_image print_default=true }}
{{/is}}
<div class="container">
    <div class="row">
        <div class="post-feed my-4 my-md-5 col-md-8 mx-auto">
            <ul class="post-list list-unstyled">
                {{#foreach posts}}
                {{> "index-post-entry"}}
                {{/foreach}}
            </ul>
            {{#if pagination}}
            {{pagination}}
            {{/if}}
        </div>
    </div>
</div>
