{{!< default}}
<div class="d-flex justify-content-between align-items-center py-5 h-100 w-100">
    <div class="post-feed container">
        <div class="row post-row d-flex flex-column justify-content-center align-items-center">
            <div class="post-column col-12 col-md-10 col-lg-8 p-0">
            {{#foreach posts}}
                {{> "post-entry"}}
            {{/foreach}}
            </div>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
<script src="{{asset "js/infinite-scroll.pkgd.min.js"}}"></script>
<script>
    $(document).ready(function(){
        // Activate infinite scrolling
        $('.post-column').infiniteScroll({
            // options
            path: '.page-next',
            append: '.post',
            history: false,
            hideNav: '.main-pagination'
        });
        // Execute fitvid.js after new content is fetched
        $('.post-column').on('append.infiniteScroll', function(event, response, path, items) {
            $(".kg-embed-card").fitVids();
            //console.log( 'Loaded: ' + path );
        });
    });
</script>
{{/contentFor}}
