{{!< default}}
<div class="d-flex justify-content-between align-items-center py-5 h-100 w-100">
    <div class="post-feed container">
        <div class="row post-row d-flex flex-column justify-content-center align-items-center">
            <div class="post-column col-12 col-md-10 col-lg-8 p-0">
            {{#foreach posts}}
                {{> "post-entry"}}
            {{/foreach}}
            </div>
        </div>
    </div>
</div>
