{{!< default}}
<div class="row">
    <div class="col-12 mx-auto p-5 border rounded bg-white" style="max-width: 47em;">
        <ul class="post-list list-unstyled">
            {{#foreach posts}}
            {{> "index-post-entry"}}
            {{/foreach}}
        </ul>
        {{#if pagination}}
        {{pagination}}
        {{/if}}
    </div>
</div>
