{{!< default}}
<main class="full-page flex-shrink-0 flex-grow-1">
{{#post}}
{{> header background=feature_image}}
</header>
<div class="post-content container mb-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
            {{content}}
        </div>
    </div>
</div>
</main>
{{/post}}
