{{!< default}}
{{#post}}
<div class="container py-5 h-100">
    <div class="page-full row">
        <div class="col-12 col-md-8 offset-md-2">
            <header class="post-meta text-center text-dark mb-5{{^if feature_image}} pb-5{{/if}}">
                <h1 class="page-title almost-black">{{title}}</h1>
            </header>
            {{#if feature_image}}
            <figure class="mb-5 feature-image">
                <img src="{{img_url feature_image}}">
            </figure>
            {{/if}}
            <main class="page-content dynamic-font pb-3{{^if feature_image}} no-feature-image{{/if}}">
                {{content}}
            </main>
        </div>
    </div>
</div>
{{/post}}
