{{!< default}}
<div class="full-page d-flex flex-column h-100">
{{#post}}
    {{!-- This is a full, long post --}}
    <div class="flex-grow-1 flex-shrink-0">
        {{#if feature_image}}
        <div class="row mt-sm-4 mt-md-5">
            <div class="header-image col-12 px-0">
                <img class="img" alt="Header Image" src="{{feature_image}}">
            </div>
        </div>
        {{/if}}
        <div class="row{{^if feature_image}} mt-sm-4 mt-md-5{{/if}}">
            <div class="post bg-white col-12 col-lg-9 mx-auto{{#if feature_image}} header-content-wrap rounded-lg{{/if}}">
                <div class="post-content text-sm-justify py-4 py-md-5 px-sm-3 px-md-4 px-lg-5">
                    <h1 class="post-title mt-2 mb-4 mb-md-5 color-grayblack text-left display-4">{{title}}</h1>
                    {{content}}
                </div>
            </div>
        </div>
    </div>
{{/post}}
</div>
