{{!< default}}
<div class="picture-overview">
    <div class="row">
        <div class="col-12 mx-auto p-5 rounded border bg-white" style="max-width: 47em;">
            <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch">
                {{#foreach posts}}
                    <div class="card flex-grow-1 mb-3 mr-3" style="max-width: 160px !important; max-height: 160px !important;">
                        <a href="{{url}}" alt="{{title}}" name="{{title}}" class="picture-post-link">{{content words="1"}}</a>
                    </div>    
                {{/foreach}}
            </div>
        </div>
    </div>
</div>
