{{!< default}}
<main class="full-post flex-shrink-0 flex-grow-1">
{{#post}}
    {{!-- Blog post template --}}
    {{^has tag='#link,#micro'}}
        {{!-- This is a full, long post --}}
        {{> header background=feature_image}}
        <div class="post-content container">
            <div class="row align-items-center">
                <div class="col-md-7 mx-auto">
                    {{content}}
                    {{> "taglist" }}
                    {{> "author-info"}}
                </div>
            </div>
        </div>
        <aside class="next-prev-posts">
        {{> "related-read-next"}}
        </aside>
    {{else}}
        {{!-- This is a micro post or a link post --}}
        <header class="main-nav">
            {{> "dark-nav" }}
        </header>
        <div class="post-content container">
            <div class="row mt-lg-5">
                <div class="post-micro col-md-7 mx-auto mt-xl-5">
                    <div class="post-micro-header my-5 h5 text-black-50 text-center">{{date published_at format="LLL"}}</div>
                    {{content}}
                    {{> "author-info"}}
                </div>
            </div>
        </div>
    {{/has}}
{{/post}}
</main>
