{{!< default}}
{{#tag}}
{{> header background=feature_image total_posts=../pagination.total}}
{{/tag}}
<div class="container">
    <div class="row">
        <div class="post-feed my-4 my-md-5 col-md-7 mx-auto">
            <ul class="post-list list-unstyled">
                {{#foreach posts}}
                {{> "index-post-entry"}}
                {{/foreach}}
            </ul>
            {{#if pagination}}
            {{pagination}}
            {{/if}}
        </div>
    </div>
</div>
