{{!< default}}
{{#tag}}
{{> header background=feature_image total_posts=../pagination.total}}
{{/tag}}
<main class="flex-shrink-0 flex-grow-1 d-flex align-items-center justify-content-center mb-5">
    <div class="row flex-grow-1">
        <div class="container">
            <div class="post-feed col-md-7 mx-auto">
                {{#foreach posts}}
                {{> "index-post-entry"}}
                {{/foreach}}
                {{#if pagination}}
                {{pagination}}
                {{/if}}
            </div>
        </div>
    </div>
</main>
