{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="row my-5">
    <div class="col-12 mx-auto rounded" style="max-width: 47em;">
        <ul class="post-list list-unstyled m-0">
            {{ $paginator := .Paginate (where $.Site.RegularPages ".Params.type" "!=" "page") }}
            {{ range $paginator.Pages }}
            {{ partial "list-item.html" (dict "Page" . ) }}
            {{ end }}
        </ul>
        <div class="text-center my-5">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}
