:root {
    --std-font-sans: system-ui, -apple-system, "Helvetica Neue", Arial, "Noto Sans", "Segoe UI", Roboto, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --std-font-mono: 'Fira Code', Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
    --hm-def-fontsize-wide: 17px;
    --color-transparent: transparent;
    --color-black: rgb(0 0 0);
    --color-white: rgb(255 255 255);
    --color-gray-50: rgb(249 250 251);
    --color-gray-100: rgb(243 244 246);
    --color-gray-200: rgb(229 231 235);
    --color-gray-300: rgb(209 213 219);
    --color-gray-400: rgb(156 163 175);
    --color-gray-500: rgb(107 114 128);
    --color-gray-600: rgb(75 85 99);
    --color-gray-700: rgb(55 65 81);
    --color-gray-800: rgb(31 41 55);
    --color-gray-900: rgb(17 24 39);
    --color-neutral-50: rgb(250 250 250);
    --color-neutral-100: rgb(245 245 245);
    --color-neutral-200: rgb(229 229 229);
    --color-neutral-300: rgb(212 212 212);
    --color-neutral-400: rgb(163 163 163);
    --color-neutral-500: rgb(115 115 115);
    --color-neutral-600: rgb(82 82 82);
    --color-neutral-700: rgb(64 64 64);
    --color-neutral-800: rgb(38 38 38);
    --color-neutral-900: rgb(23 23 23);
    --color-amber-50: rgb(255 251 235);
    --color-amber-100: rgb(254 243 199);
    --color-amber-200: rgb(253 230 138);
    --color-amber-300: rgb(252 211 77);
    --color-amber-400: rgb(251 191 36);
    --color-amber-500: rgb(245 158 11);
    --color-amber-600: rgb(217 119 6);
    --color-amber-700: rgb(180 83 9);
    --color-amber-800: rgb(146 64 14);
    --color-amber-900: rgb(120 53 15);
    --color-blue-50: rgb(239 246 255);
    --color-blue-100: rgb(219 234 254);
    --color-blue-200: rgb(191 219 254);
    --color-blue-300: rgb(147 197 253);
    --color-blue-400: rgb(96 165 250);
    --color-blue-500: rgb(59 130 246);
    --color-blue-600: rgb(37 99 235);
    --color-blue-700: rgb(29 78 216);
    --color-blue-800: rgb(30 64 175);
    --color-blue-900: rgb(30 58 138);
    --color-pink-50: rgb(253 242 248);
    --color-pink-100: rgb(252 231 243);
    --color-pink-200: rgb(251 207 232);
    --color-pink-300: rgb(249 168 212);
    --color-pink-400: rgb(244 114 182);
    --color-pink-500: rgb(236 72 153);
    --color-pink-600: rgb(219 39 119);
    --color-pink-700: rgb(190 24 93);
    --color-pink-800: rgb(157 23 77);
    --color-pink-900: rgb(131 24 67);
    --hm-def-color: var(--color-gray-800);
    --hm-def-bgcolor: var(--color-white);
    --hm-def-accent-color1: var(--color-gray-600);
    --hm-def-accent-color2: var(--color-gray-500);
    --hm-def-accent-color3: var(--color-gray-300);
    --hm-def-accent-color4: var(--color-gray-800);
    --hm-def-link-color: var(--color-blue-600);
    --hm-def-link-hover-color: var(--color-blue-700);
    --hm-def-link-deco-color: var(--color-blue-700);
    --hm-def-border-color: var(--color-gray-200);
    --hm-header-bg-color: var(--color-gray-50);
    --hm-footer-bg-color: var(--color-gray-50);
    --hm-footer-color: var(--color-gray-600);
    --hm-tag-border-color: var(--color-gray-500);
    --hm-tag-text-color: var(--color-gray-500);
    --hm-tag-hover-color: var(--color-gray-900);
    --hm-blockquote-border-color: var(--color-pink-400);
    --hm-def-code-color: var(--color-pink-500);
    --hm-post-summary-color: var(--color-gray-500);
    --hm-postlist-color: var(--color-gray-100);
    --hm-postlist-bg-color: var(--hm-def-link-deco-color);
    --hm-pagination-color: var(--color-gray-800);
    --hm-pagination-disabled-color: var(--color-gray-500);
    --hm-d-def-color: var(--color-gray-100);
    --hm-d-def-bgcolor: var(--color-neutral-900);
    --hm-d-def-accent-color1: var(--color-gray-300);
    --hm-d-def-accent-color2: var(--color-gray-400);
    --hm-d-def-accent-color3: var(--color-gray-600);
    --hm-d-def-accent-color4: var(--color-gray-100);
    --hm-d-def-link-color: var(--color-pink-500);
    --hm-d-def-link-hover-color: var(--color-pink-600);
    --hm-d-def-link-deco-color: var(--color-pink-600);
    --hm-d-def-border-color: var(--color-gray-700);
    --hm-d-header-bg-color: var(--color-gray-800);
    --hm-d-footer-bg-color: var(--color-gray-800);
    --hm-d-footer-color: var(--color-gray-400);
    --hm-d-tag-border-color: var(--color-gray-400);
    --hm-d-tag-text-color: var(--color-gray-400);
    --hm-d-tag-hover-color: var(--color-gray-200);
    --hm-d-blockquote-border-color: var(--color-pink-500);
    --hm-d-def-code-color: var(--color-amber-500);
    --hm-d-post-summary-color: var(--color-gray-300);
    --hm-d-postlist-color: var(--color-gray-100);
    --hm-d-postlist-bg-color: var(--hm-d-def-link-deco-color);
    --hm-d-pagination-color: var(--color-gray-100);
    --hm-d-pagination-disabled-color: var(--color-gray-400);
}

@media (prefers-color-scheme:dark) {
     :root {
        --hm-def-color: var(--hm-d-def-color);
        --hm-def-bgcolor: var(--hm-d-def-bgcolor);
        --hm-def-accent-color1: var(--hm-d-def-accent-color1);
        --hm-def-accent-color2: var(--hm-d-def-accent-color2);
        --hm-def-accent-color3: var(--hm-d-def-accent-color3);
        --hm-def-accent-color4: var(--hm-d-def-accent-color4);
        --hm-def-link-color: var(--hm-d-def-link-color);
        --hm-def-link-hover-color: var(--hm-d-def-link-hover-color);
        --hm-def-link-deco-color: var(--hm-d-def-link-deco-color);
        --hm-def-border-color: var(--hm-d-def-border-color);
        --hm-header-bg-color: var(--hm-d-header-bg-color);
        --hm-footer-bg-color: var(--hm-d-footer-bg-color);
        --hm-footer-color: var(--hm-d-footer-color);
        --hm-tag-border-color: var(--hm-d-tag-border-color);
        --hm-tag-text-color: var(--hm-d-tag-text-color);
        --hm-tag-hover-color: var(--hm-d-tag-hover-color);
        --hm-blockquote-border-color: var(--hm-d-blockquote-border-color);
        --hm-def-code-color: var(--hm-d-def-code-color);
        --hm-post-summary-color: var(--hm-d-post-summary-color);
        --hm-postlist-color: var(--hm-d-postlist-color);
        --hm-postlist-bg-color: var(--hm-d-postlist-bg-color);
        --hm-pagination-color: var(--hm-d-pagination-color);
        --hm-pagination-disabled-color: var(--hm-d-pagination-disabled-color)
    }
}

html {
    height: 100%;
}

body {
    font-family: var(--std-font-sans);
    color: var(--hm-def-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

a,
a:visited {
    text-decoration: none;
    color: var(--hm-def-color);
}

a:not(.header-nav-entry, .tag-link, .page-link) {
    border-bottom: 2px solid var(--hm-def-accent-color3);
}

a:hover {
    border-color: var(--hm-def-link-deco-color);
}

.wrapper43 {
    max-width: 43rem;
    margin: 0 auto;
}

.main {
    background-color: var(--hm-def-bgcolor);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding: 5rem 1rem;
}

.footer {
    margin-top: auto;
    background-color: var(--hm-footer-bg-color);
    border-top: 1px solid var(--hm-def-border-color);
    padding: 1rem;
    font-size: .75rem;
    line-height: 1;
}

.footer .notice {
    color: var(--hm-footer-color);
}

.footer-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header {
    background-color: var(--hm-header-bg-color);
    border-bottom: 1px solid var(--hm-def-border-color);
    text-align: center;
    padding: 2rem 0;
}

.header-logo {
    margin-bottom: .5rem;
}

.logo {
    border-radius: 50%;
    width: 100px;
    border: 1px solid var(--hm-def-border-color);
}

.blog-title {
    margin: 0 1rem 1rem;
    color: var(--hm-def-accent-color1);
}

a.header-nav-entry {
    color: var(--hm-def-accent-color2);
    text-decoration: none;
    display: inline-flex;
    gap: 5px;
    vertical-align: middle
}

a.header-nav-entry:not(:last-child) {
    margin-right: 20px;
}

a.header-nav-entry:hover {
    color: var(--hm-def-link-color);
    text-decoration-color: var(--hm-def-link-deco-color);
}

.header-nav-entry .bi {
    height: 1em;
    width: 1em;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    margin: 5rem 0 1rem;
}

.page-item {
    display: inline;
    border: 1px solid var(--hm-def-border-color);
    border-radius: .25rem;
    padding: .375rem .75rem;
    width: 100px;
    text-align: center;
    font-size: var(--hm-def-fontsize-wide);
}

.page-item.page-prev {
    margin-right: auto;
    margin-left: 10px;
}

.page-item.page-next {
    margin-left: auto;
    margin-right: 10px;
}

.page-link,
.page-link:hover {
    text-decoration: none;
}

.page-item .page-link,
.page-item .page-link:hover {
    color: var(--hm-pagination-color);
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: var(--hm-pagination-disabled-color);
}

.page-item.active {
    background-color: var(--hm-postlist-bg-color);
}

.page-item.active .page-link {
    color: var(--hm-postlist-color);
}

.type-page .title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.5em;
}

.tag-section,
.tag-section-icon {
    color: var(--hm-def-accent-color1);
}

.tags {
    margin: 1rem 0 0 0;
    font-size: .875rem;
    line-height: 1.25;
}

.taglist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tag {
    display: inline;
    border: 1px solid var(--hm-tag-border-color);
    border-radius: .33rem;
    padding: 1px 5px;
}

a.tag-link {
    color: var(--hm-tag-text-color);
}

.tag:hover {
    border-color: var(--hm-tag-hover-color);
}

.tag:hover>.tag-link {
    color: var(--hm-tag-hover-color);
    text-decoration: none;
}

.tag-link>.bi {
    margin-right: 2px;
}

.post-year {
    color: var(--hm-def-accent-color1);
    margin-bottom: .5rem;
    font-size: 1.75rem;
}

.post-year:first-child {
    margin-top: 0;
}

.post-list-item {
    margin: 0;
    padding: 0;
    font-size: var(--hm-def-fontsize-wide);
}

.post-item .post-title-link,
.post-item .post-date {
    line-height: 1.6;
}

.post-item .post-date {
    flex: 0 0 auto;
    color: var(--hm-def-accent-color2);
    min-width: 70px;
    padding-left: 1rem;
    font-size: 15px;
    text-align: right;
}

.post-list-item .post-item {
    color: var(--hm-def-color);
    flex: 1 1 auto;
    font-weight: normal;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .5rem 0;
}

.post-list-item .post-item:hover {
    text-decoration: none;
}

.post-year:not(:first-child) {
    margin-top: 3rem;
}

.grid-canvas {
    display: grid;
    grid-template-columns: [full-start] minmax(4vmin, auto) [wide-start] minmax(auto, 240px) [main-start] min(720px, calc(100% - 8vw)) [main-end] minmax(auto, 240px) [wide-end] minmax(4vmin, auto) [full-end];
}

.grid-canvas>* {
    grid-column: main-start/main-end;
}

.post-header {
    margin: 0 0 2.5rem;
}

.post-header .post-date {
    font-size: 1.25rem;
    padding: 0;
    margin: 0 0 .5rem;
    color: var(--hm-def-accent-color2);
}

.post-header .post-date.status-date {
    margin: 0;
}

.post-header .post-title {
    font-size: 3rem;
    padding: 0;
    margin: 0 0 2.5rem;
}

.post-header .post-title.has-summary {
    margin: 0 0 1.75rem;
}

.post-header .post-summary {
    font-size: 1.25rem;
    color: var(--hm-post-summary-color);
    line-height: 1.5;
}

.post-header .post-summary.has-feature-image {
    margin: 0 0 2.5rem;
}

.figure {
    width: 100%;
    margin: 0 0 1.75rem;
    padding: 0;
}

.figure-caption {
    font-size: .875rem;
    color: var(--hm-def-accent-color2);
    text-align: center;
}

.feature-figure {
    grid-column: wide-start/wide-end;
    margin: 0;
}

.feature-figure img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.post-content {
    color: var(--hm-def-color);
    font-size: var(--hm-def-fontsize-wide);
    line-height: 1.5;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    color: var(--hm-def-accent-color4);
}

.post-content>p,
.post-content>ul,
.post-content>ol {
    margin: 0 0 1.5rem
}

.post-content>ul,
.post-content>ol {
    padding-left: 1.5em;
}

.post-content>ul li,
.post-content>ol li {
    margin-bottom: .75rem;
}

.post-content blockquote {
    margin: 0 0 1.75rem;
    padding: 1.25rem 1.5rem;
    border: 1px solid var(--hm-def-border-color);
    border-radius: .25rem;
    border-left-width: .33rem;
    border-left-color: var(--hm-blockquote-border-color);
    color: var(--hm-def-accent-color1);
}

.post-content blockquote>p {
    margin: 0 0 1.5rem;
    padding: 0;
    line-height: 1.6;
}

.post-content blockquote>p:last-of-type {
    margin: 0;
}

img {
    width: 100%;
}

.image-figure.width-wide {
    grid-column: wide-start/wide-end;
}

.image-figure.width-full {
    grid-column: full-start/full-end;
}

.full-post .post-title,
.full-page .page-title {
    font-size: 2.5rem;
    color: var(--hm-def-accent-color4);
    margin: 0;
    padding: 0;
}

.full-page .page-title.has-feature-image:not(.has-summary),
.full-post .post-title.has-feature-image:not(.has-summary) {
    margin: 0 0 2.5rem;
}

.full-page.page404 .post-header,
.full-page.page404 .post-content {
    text-align: center;
}

.full-page.page404 .page-title {
    font-size: 5rem;
}

.full-page.page404 .page-subtitle {
    font-size: 2rem;
    margin-top: .5rem;
    color: var(--hm-def-accent-color4);
}

code.hljs {
    white-space: pre;
    font-size: .875rem;
    white-space: pre-line;
}

code,
kbd,
samp {
    color: var(--hm-def-code-color);
    font-family: var(--std-font-mono);
    font-size: .875rem;
}

pre {
    margin-top: 0;
}

iframe {
    margin-bottom: 1.5rem;
}

.footnotes {
    font-size: .875rem;
    color: var(--hm-def-accent-color1);
}

.footnotes ol {
    margin: 0;
    padding: 0 1.5rem;
}

.footnotes hr {
    border: none;
    height: 1px;
    background: var(--hm-def-border-color);
    margin-bottom: 1.5rem;
}

@media (max-width:40rem) {
    .blog-title {
        font-size: 1.75rem;
    }
    .content {
        padding: 3rem 1rem;
    }
    .posts.grid-canvas>* {
        grid-column: full-start/full-end;
    }
    .post-list-item,
    .post-content {
        font-size: unset;
    }
    a.desktop-nav-entry {
        display: none;
    }
    .page-item.page-first,
    .page-item.page-last,
    .page-item.page-filler,
    .page-item.page-next-prev {
        display: none;
    }
    .page-item.page-prev,
    .page-item.page-next {
        flex-grow: 1;
    }
    .page-item.page-prev {
        margin-left: 0;
        margin-right: 25px;
    }
    .page-item.page-next {
        margin-left: 25px;
        margin-right: 0;
    }
    .full-post .post-header {
        margin: 0 0 2rem
    }
    .full-post .post-title.has-feature-image {
        margin: 0 0 2rem
    }
}