:root {
    --bs-font-sans-serif: system-ui, -apple-system, Inter, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-wide: 17px;
    --hue: 210;
    --tertiary-hue: calc(var(--hue) + 300);
    --accent-hue: calc(var(--hue) + 60);
}

/* This is used with plain HTML/CSS to allow for a light/dark theme switch */

/* @media (prefers-color-scheme: light) {
    :root { */
        /* The formula starts here */
        /* --primary-color: hsl(var(--hue), 50%, 90%);
        --pre-primary-color: hsl(var(--hue), 50%, 95%);
        --secondary-color: hsl(var(--hue), 50%, 10%);
        --tertiary-color: hsl(var(--tertiary-hue), 80%, 20%);
        --accent-color: hsl(var(--accent-hue), 80%, 20%);
        --tag-color: #0d6efd;
        --tag-color-rgb: 13,110,253;
        --tag-hover-color: #0a58ca;
        --tag-hover-color-rgb: 10,88,202;
    }
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-color: hsl(var(--hue), 50%, 10%);
        --pre-primary-color: hsl(var(--hue), 50%, 15%);
        --secondary-color: hsl(var(--hue), 50%, 90%);
        --tertiary-color: hsl(var(--tertiary-hue), 80%, 80%);
        --accent-color: hsl(var(--accent-hue), 80%, 80%); */
        /* The formula ends here */
        /* --tag-color: #6ea8fe;
        --tag-color-rgb: 110,168,254;
        --tag-hover-color: #8bb9fe; 
        --tag-hover-color-rgb: 139,185,254;
    }
} */

/* This is used with Bootstrap 5 to allow for a light/dark theme switch */

:root, [data-bs-theme=light] {
    /* The formula starts here */
    --primary-color: hsl(var(--hue), 50%, 90%);
    --pre-primary-color: hsl(var(--hue), 50%, 95%);
    --secondary-color: hsl(var(--hue), 50%, 10%);
    --tertiary-color: hsl(var(--tertiary-hue), 80%, 20%);
    --accent-color: hsl(var(--accent-hue), 80%, 20%);
    --tag-color: #0d6efd;
    --tag-color-rgb: 13,110,253;
    --tag-hover-color: #0a58ca;
    --tag-hover-color-rgb: 10,88,202;
    --tag-badge-rgb: 108,117,125;
}

[data-bs-theme=dark] {
    --primary-color: hsl(var(--hue), 50%, 10%);
    --pre-primary-color: hsl(var(--hue), 50%, 15%);
    --secondary-color: hsl(var(--hue), 50%, 90%);
    --tertiary-color: hsl(var(--tertiary-hue), 80%, 80%);
    --accent-color: hsl(var(--accent-hue), 80%, 80%);
    /* The formula ends here */
    --tag-color: #6ea8fe;
    --tag-color-rgb: 110,168,254;
    --tag-hover-color: #8bb9fe; 
    --tag-hover-color-rgb: 139,185,254;
    --tag-badge-rgb: 108,117,125;
}

body,
html {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.main.container {
    max-width: 900px;
}

/* Blockquote – Elegant Classic Style */
blockquote {
    font-style: italic;
    border-left: 5px solid var(--bs-code-color);
    padding: 15px 20px;
    margin: 20px 0;
    background-color: rgba(230, 133, 181, .1); /* Light Aqua Tint */
    border-radius: 5px;
}

blockquote > p:last-of-type {
    margin-bottom: 0;
}

.bi {
    /* vertical-align: -.125em; */
    fill: currentColor;
}

.post-content {
    font-size: var(--font-wide);
    line-height: 1.6;
}

.post-content p {
    margin-bottom: 1.5rem;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.tag-link,
.tagcloud-item {
    color: rgba(var(--tag-color-rgb), 1);
    border-width: 1px;
    border-color: rgba(var(--tag-color-rgb), 0.25);
    border-style: solid;
    border-radius: 0.375rem;
    text-decoration: none;
}

.tag-link:hover,
.tagcloud-item:hover,
.tag-link:active,
.tagcloud-item:active {
    color: var(--tag-hover-color) !important;
    border-color: rgba(var(--tag-hover-color-rgb), 0.25) !important;
}

.pagination {
    --bs-pagination-color: var(--tag-color) !important;
    --bs-pagination-hover-color: var(--tag-hover-color) !important;
}

.active>.page-link, .page-link.active {
    /* color: var(--bs-pagination-active-color); */
    background-color: rgba(var(--tag-color-rgb), .5);
    border-color: var(--bs-pagination-border-color);
}
