:root {
    --bs-font-sans-serif: system-ui, -apple-system, Inter, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-wide: 17px;
    --hue: 210;
    /* The formula starts here */
    --tertiary-hue: calc(var(--hue) + 300);
    --accent-hue: calc(var(--hue) + 60);
    --primary-color: hsl(var(--hue), 50%, 90%);
    --pre-primary-color: hsl(var(--hue), 50%, 95%);
    --secondary-color: hsl(var(--hue), 50%, 10%);
    --tertiary-color: hsl(var(--tertiary-hue), 80%, 20%);
    --accent-color: hsl(var(--accent-hue), 80%, 20%);
}

.custom-dark {
    --primary-color: hsl(var(--hue), 50%, 10%);
    --pre-primary-color: hsl(var(--hue), 50%, 15%);
    --secondary-color: hsl(var(--hue), 50%, 90%);
    --tertiary-color: hsl(var(--tertiary-hue), 80%, 80%);
    --accent-color: hsl(var(--accent-hue), 80%, 80%);
    /* The formula ends here */
}

body,
html {
    height: 100%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.main.container {
    max-width: 900px;
}

/* Blockquote – Elegant Classic Style */
blockquote {
    font-style: italic;
    border-left: 5px solid var(--bs-code-color);
    padding: 15px 20px;
    margin: 20px 0;
    background-color: rgba(128, 208, 224, 0.1); /* Light Aqua Tint */
    border-radius: 5px;
}

.bi {
    /* vertical-align: -.125em; */
    fill: currentColor;
}

.post-content {
    font-size: var(--font-wide);
    line-height: 1.6;
}

.post-content p {
    margin-bottom: 1.5rem;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}