{{ define "title" }}
    {{ .Title }}
{{ end }}
{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $paginator := .Paginate $pages }}
    <div class="author-intro mb-5 py-2">
        <h2 class="fw-bold pb-3">Hi, I'm <a href="{{ site.Params.author.website }}" class="link-offset-3 link-underline link-underline-opacity-25">{{ site.Params.author.given_name }}</a>.</h2>
        <div class="lead fw-normal">
            {{ .Content }}
        </div>
    </div>
    <h2 class="mb-4">Most recent posts</h2>
    <div class="postlist">
    {{ $counter := 0}}
    {{ range $paginator.Pages }}
    {{ $counter = add $counter 1 }}
    {{ .Scratch.Set "counter" $counter}}
        {{ partial "post_list_items_fulldate.html" . }}
    {{ end }}
    {{/*  {{ partial "pagination.html" . }}  */}}
    </div>
{{ end }}