{{ define "title" }}
    {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div class="posts wrapper43">
        {{ if ne (len $.Site.Taxonomies.tags) 0 }}
            {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
                {{ $tagCount := len $taxonomy.Pages }}
                {{/* <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}/" class="tagcloud-item"></a> */}}
                <h2 class="post-year"><i class="bi bi-tag"></i> {{ $name | title}}</h2>
                <div class="post-list">
                {{ range .Pages }}
                    {{ partial "post_list_items_fulldate.html" . }}
                {{ end }}
                </div>
            {{ end }}
        {{ else }}
        <h1>No tags</h1>
        {{ end }}
    </div>
{{ end }}