/*--- 0.) Font Smoothing ---*/

    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }

/*--- 1.) Font Defintions ---*/

    /* Merriweather */

        @font-face {
            font-family: 'Merriweather';
            font-weight: 300;
            src: url('/assets/webfonts/Merriweather-Light.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            font-weight: 300;
            font-style: italic;
            src: url('/assets/webfonts/Merriweather-LightItalic.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            src: url('/assets/webfonts/Merriweather-Regular.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            font-style: italic;
            src: url('/assets/webfonts/Merriweather-Italic.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            font-weight: bold;
            src: url('/assets/webfonts/Merriweather-Bold.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            font-weight: bold;
            font-style: italic;
            src: url('/assets/webfonts/Merriweather-BoldItalic.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            font-weight: 900;
            src: url('/assets/webfonts/Merriweather-Black.otf') format('opentype')
        }

        @font-face {
            font-family: 'Merriweather';
            font-weight: 900;
            font-style: italic;
            src: url('/assets/webfonts/Merriweather-BlackItalic.otf') format('opentype')
        }

        .font-merriweather-light {
            font-family: Merriweather;
            font-weight: 300;
            /*font-size: calc(15px + 0.15vw);*/
            /*font-size: calc(15px + (18 - 15) * ((100vw - 350px) / (1200 - 350)));*/
            line-height: 1.618;
        }

        .font-merriweather {
            font-family: Merriweather;
            /*font-size: calc(15px + 0.15vw);*/
            /*font-size: calc(15px + (18 - 15) * ((100vw - 350px) / (1200 - 350)));*/
            line-height: 1.618;
        }

    /* Open Sans*/

        @font-face {
            font-family: 'Open Sans';
            font-weight: 300;
            src: url('/assets/webfonts/OpenSans-Light.woff') format('woff')
        }

        @font-face {
            font-family: 'Open Sans';
            font-weight: 300;
            font-style: italic;
            src: url('/assets/webfonts/OpenSans-LightItalic.woff') format('woff')
        }

        @font-face {
            font-family: 'Open Sans';
            src: url('/assets/webfonts/OpenSans-Regular.woff') format('woff')
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: italic;
            src: url('/assets/webfonts/OpenSans-Italic.woff') format('woff')
        }

        @font-face {
            font-family: 'Open Sans';
            font-weight: bold;
            src: url('/assets/webfonts/OpenSans-Bold.woff') format('woff')
        }

        @font-face {
            font-family: 'Open Sans';
            font-weight: bold;
            font-style: italic;
            src: url('/assets/webfonts/OpenSans-BoldItalic.woff') format('woff')
        }

        @font-face {
            font-family: 'Open Sans';
            font-weight: 900;
            src: url('/assets/webfonts/OpenSans-Black.woff') format('woff')
        }

        .font-opensans {
            font-family: 'Open Sans';
            line-height: 1.618;
        }

        .font-opensans-light {
            font-family: 'Open Sans';
            font-weight: 300;
            line-height: 1.618;   
        }

/*--- 2.) HTML & Body ---*/

    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /*background-color: #eee;*/
    }

/*--- 3.) Main Navigation ---*/

    .nav-link.icon {
        font-size: 1.5em;
        text-rendering: optimizeLegibility;
    }

    .icon-sm {
        font-size: 80%;
    }

    .icon::before, .icon-sm::before {
        display: none;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .mastodon::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f4f6";
    }

    .facebook::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f39e";
    }

    .twitter::before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        content: "\f099";
    }

    .rss::before {
        font-family: "Font Awesome 5 Solid";
        font-weight: 400;
        content: "\f09e";
    }

/*--- 4.) Colors ---*/

    /* Almost black (grayblack) for text */
    .color-grayblack {
        color: #444;
    }

    /* Custom color for Micro Posts */
    .color-micro {
        color: #F5F6F2;
    }
    .bg-micro {
        background-color: #B4405C;
    }
    .bg-micro:hover {
        background-color: #710828;
        color: #F5F6F2;
    }

    .tag-micro > .card-body a {
        color: #B4405C;
    }
    .tag-micro > .card-body a:hover {
        color: #710828;
    }
    .tag-micro > .card-body a:visited {
        color: #B4405C;
    }


    /* Different colors for different post types, using .warning color scheme from Bootstrap*/
    .tag-link > .card-body a {
        color: #17a2b8;
    }
    .tag-link > .card-body a:hover {
        color: #117a8b;
    }
    .tag-link > .card-body a:visited {
        color: #17a2b8;
    }

    .date:hover {
        color: #0056b3 !important;
    } 

/*--- 5.) (Custom) Post type formatting in post feed ---*/

    .post-feed .tag-link .card-body > p:first-child {
        text-align: left;
    }

    .main-content .tag-link .card-body > p:first-child > a:only-child,
    .post-feed .tag-link .card-body > p:first-child > a:only-child {
        font-weight: 700 !important;
        font-size: 2rem;
        line-height: 1.2em;
        color: #444;
    }
    @media (max-width:1200px) {
        .post-feed .tag-link .card-body > p:first-child > a:only-child {
            font-size: calc(1.325rem + .9vw);
        }
    }
    .main-content .tag-link .card-body > p:first-child > a:only-child:hover,
    .post-feed .tag-link .card-body > p:first-child > a:only-child:hover {
        text-decoration: none;
        color: #117a8b;
    }
    .main-content .tag-link .card-body > p:first-child > a:only-child::before,
    .post-feed .tag-link .card-body > p:first-child > a:only-child::before {
        display: none;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Solid";
        content: "\f0c1";
    }
    .main-content .tag-link .card-body > p > a > .fa-link,
    .post-feed .tag-link .card-body > p > a > .fa-link {
        margin-right: 5px;
    }

    .post:last-child {
        margin-bottom: 0!important;
    }

    @media (max-width: 992px) {
        .post-meta-tag:nth-child(n+2) {
            display: none;
        }
    }    

/*--- 6.) Post, page & list view formatting ---*/

    /* Post & Page headings */

    .page-content > h1,
    .page-content > h2,
    .page-content > h3,
    .page-content > h4,
    .page-content > h5,
    .page-content > h6,
    .post-content > h1,
    .post-content > h2,
    .post-content > h3,
    .post-content > h4,
    .post-content > h5,
    .post-content > h6 {
        font-weight: 700;
        color: #444;
        line-height: 1.2;
        margin-top: 1.75rem;
        margin-bottom: 1rem;
    }

    blockquote {
        padding: 1rem 1.25rem;
        margin-bottom: 1.25rem;
        border: 1px solid #eee;
        border-left-width: .3rem;
        border-radius: .25rem;
        border-left-color: #007bff;
        color: #6c757d;
        text-align: justify;
        font-style: italic;
    }
    .tag-link blockquote {
        border-left-color: #17a2b8;
    }
    .tag-micro blockquote {
        border-left-color: #B4405C;
    }

    .post-meta .post-date {
        margin: 0;
    }

    /* Footnotes */

    .footnotes-sep {
        margin-top: 2.5rem;
    }

    .footnotes {
        font-size: 80%;
        font-family: Merriweather;
        line-height: 1.618;
        font-weight: 300;
        /*margin-bottom: 4rem;*/
    }

    .footnotes-list {
        padding: 0;
        list-style: none;
        counter-reset: footnote-counter;
    }

    .footnotes-list li {
        list-style-type: none;
        margin: 1em 1em 1em 2em;
        position: relative;
        counter-increment: footnote-counter;
    }

    .footnotes-list li:before {
        content: counter(footnote-counter) ". ";
        position: absolute;
        left: -1.55em;
        color: #007bff;
    }

    /* Author information */

    .post-author-image {
        height: 90px;
        width: 90px;
        margin: 0;
        padding: 0;
    }

        /* .author-info > .author-bio {
            max-height: 125px;
        }*/

    .author-info > .author-bio h4 {
        font-size: 1.25rem;
    }

    .post-footer .card {
        width: 300px;
        max-width: 300px;
    }

    .post-footer .card:last-child {
        margin-right: 0;
    }

/*--- 7.) Feature image, images and galleries ---*/

    .post-full .feature-image,
    .page-full .feature-image {
        text-align: center;
        width: 100vw;
        max-width: 100%;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        background: #c5d2d9 no-repeat 50%;
        background-size: cover;
    }

    .post-full .feature-image img,
    .page-full .feature-image img {
        width: inherit;
        object-fit: cover;
        object-position: 50% 50%
    }

    @media (min-width: 576px) {
        .post-full .feature-image img,
        .page-full .feature-image img {
            height: 500px;
        }
    }

    .main-content .post-full .post-content > p > img,
    .kg-card.kg-image-card img {
        margin: 0 auto;
        height: auto;
        width: 100%
    }

    /*    .post-full .post-content .kg-card.kg-image-card {
        margin-bottom: 3rem;
    }*/

    .post-content .kg-card.kg-image-card.kg-width-full {
        text-align: center;
        width: 100vw;
        max-width: 100%;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        background-size: cover;
    }

    .post-content .kg-card.kg-image-card.kg-width-full img {
        width: inherit;
        object-fit: cover;
        object-position: 50% 50%
    }

    .post-content .kg-card.kg-image-card.kg-width-wide > .kg-image {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }

    @media (min-width: 576px) {
        .post-content .kg-card.kg-image-card.kg-width-wide > .kg-image {
            width: unset;
            max-width: 150%;
        }
    }

    .kg-embed-card figcaption,
    .kg-image-card figcaption,
    .kg-gallery-card figcaption {
        padding: 10px 20px;
        color: #6c757d;
        font-size: 75%;
        font-style: italic;
        margin: -8px 0;
        text-align: center
    }

    .kg-image-card.kg-width-full figcaption {
        width: 100vw
    }

    .post-content .kg-gallery-card {
        margin-bottom: 3rem
    }

    .post-content .kg-gallery-card .kg-gallery-container {
        display: block;
        position: relative;
        width: 100vw;
        max-width: 150%;
        left: 50%;
        transform: translateX(-50%)
    }

    .kg-gallery-row {
        display: flex;
        flex-direction: row;
        justify-content: center
    }

    .kg-gallery-row:not(:first-of-type) {
        margin: 0.75em 0 0 0
    }

    .kg-gallery-image:not(:first-of-type) {
        margin: 0 0 0 0.75em
    }

    .kg-gallery-image img {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: cover
    }
