/* Font sizes */
    .text-xs {
        font-size: .75rem;
    }
    .text-sm {
        font-size: .875rem;
    }
    .text-base {
        font-size: 1rem;
    }
    .text-lg {
        font-size: 1.125rem;
    }
    .text-xl {
        font-size: 1.25rem;
    }
    .text-2xl {
        font-size: 1.5rem;
    }
    .text-3xl {
        font-size: 1.875rem;
    }
    .text-4xl {
        font-size: 2.25rem;
    }
    .text-5xl {
        font-size: 3rem;
    }
    .text-6xl {
        font-size: 4rem;
    }

/* Line heights */

    .leading-none {
        line-height: 1;
    }  
    .leading-tight {
        line-height: 1.25;
    } 
    .leading-snug {
        line-height: 1.375;
    }
    .leading-normal {
        line-height: 1.5;
    }
    .leading-relaxed {
        line-height: 1.625;
    }
    .leading-loose {
        line-height: 2;
    }

/* Post List */

    .post-item-content ul {
        list-style-type: disc;
        margin-bottom: 1rem;
    }

    .fullwidth-wrap {
        width: 100%;
        padding: 0;
    }

    .content-wrap {
        max-width: 1050px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        line-height: 1.65;
    }
    @media (max-width: 1070px) {
        .content-wrap {
            width: auto;
            padding-left: 1.25em;
            padding-right: 1.25em;
        }
        #top-nav {
            width: auto;
            padding-left: 1.25em;
            padding-right: 1.25em;   
        }
    }

    #main-header {
        margin: 2.5rem auto 2rem;
        /*width: 720px;*/
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        border-bottom: 3px solid #f8f8f8;
    }

    #main-footer,
    #main-footer .nav-link {
        color: #9e9e9e;
    }

    #main-footer {
        margin: 5rem auto 0;
        padding: 2rem 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: .875rem;
        border-top: 3px solid #f8f8f8;
    }

    #main-footer .nav-link:hover {
        color: #212121;
    }

    #top-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: 720px;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    @media (max-width: 1070px) {
        #top-nav {
            width: auto;
            padding-left: 1.25em;
            padding-right: 1.25em;   
        }
    }

    .site-title {
        margin: 0;
        padding: 0;
    }

    #main-content .wrap {
        width: 720px;
        margin: 1rem auto;
    }

    .full-page, .full-post {
        width: 720px;
        margin: 5rem auto 1rem;
    }

    @media (min-width: 1200px) {
        .site-title {
            font-size: 2rem;
        }        
    }

    @media (max-width: 768px) {
        #top-nav {
            flex-direction: column;
        }

        #main-header {
            width: 100% !important;
            margin: 2.5rem auto 2.5rem;
        }

        .site-title {
            margin-bottom: .5rem !important;
            font-size: calc(1.325rem + 1.75vw);
        }

        #main-content .wrap,
        .full-page,
        .full-post {
            width: 92% !important;
            margin: 0 auto;
        }

        .page-header .page-title {
            font-size: 2.5rem !important;
        }

        .author-link {
            display: none;
        }

        #footer-nav .copyright {
            margin-right: auto !important;
        }

        #footer-nav .top-anchor {
            display: none;
        }

        #footer-nav .item-list .nav-item:nth-last-child(2) {
            margin-right: unset !important;
        }

        .read-next-prev {
            flex-direction: column !important;
        }

        .read-next {
            margin-bottom: 1rem;
        }

        .read-prev {
            text-align: left !important;
        }

        .read-next, .read-prev {
            width: 100% !important;
        }
    }

    /*#main-content .post-excerpt img {
        border-radius: .5rem;
    }*/

    .navbar-navitems .item-list,
    #footer-nav .item-list,
    #main-content .post-list {
        margin: 0;
        padding: 0;
    }

    .navbar-navitems .item-list,
    #main-content .post-list,
    #main-content .pagination {
        list-style: none;
    }

    .item-list .nav-item,
    .pagination .page-item {
        display: inline;
    }

    .pagination .page-item {
        padding: .33rem;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
    }

    .pagination .page-item.prev-posts,
    .pagination .page-item.next-posts {
        background-color: #f5f5f5;
        font-weight: bold;
        font-size: 1.25rem;
    }

    .pagination .page-item.prev-posts a,
    .pagination .page-item.next-posts a {
        color: #59698d;
    }

    .pagination .page-item.prev-posts a:hover,
    .pagination .page-item.next-posts a:hover {
        color: #212121;
    }

    .pagination .page-item.prev-posts.disabled a,
    .pagination .page-item.next-posts.disabled a {
        pointer-events: none;
        color: #bdbdbd;
    }

    .pagination .page-item .page-link {
        display: block;
    }

    .pagination .page-item.active .page-link {
        color: #fff;
    }

    .pagination {
        display: flex;
        margin: 4rem 0 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
    }

    .item-list .nav-item {
        margin-right: .75rem;
    }

    .item-list .nav-item:last-of-type {
        margin-right: unset !important;
    }

    .site-title a {
        color: #616161;
    }

    #top-nav .nav-link {
        color: #757575;   
    }

    .site-title a:hover,
    #top-nav .nav-link:hover {
        /*color: #0d47a1;*/
        color: #59698d;
    }

    .navbar-navitems .nav-item {
        position: relative;
    }

    .navbar-navitems .nav-item .nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -.5em;
        padding: 0 .2em;
        left: -.2em;
        z-index: -1;
        border-radius: 4px;
        background-color: #0d47a1;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 300ms cubic-bezier(0.325, 0, 0, 1);
        -webkit-transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
        -moz-transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
        -o-transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
        transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
    }

    #top-nav .nav-item .nav-link:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    #footer-nav .item-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #footer-nav .top-anchor {
        margin-left: auto;
    }

    #footer-nav .copyright {
        margin-right: 3rem;
    }

    .post-list .type-status .post-item-content p,
    .full-post.type-post .post-content p
     {
        margin-bottom: 1.5rem
    }

    .post-list .type-post .post-header {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: .5rem;
    }

    .post-list .type-status .post-header {
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 1rem;
    }

    .post-list .post-item {
        padding: 2rem 1rem;
        border-bottom: 1px solid #eee;
    }

    .post-list .post-item:hover {
        background-color: #f5f5f5;
    }

    .post-list .post-item .post-item-title {
        color: #59698d;
    }

    .post-list .post-header h3 {
        margin: 0;
    }

    .post-list .type-status .post-item-date:hover {
        color: #59698d;
    }

    .post-list .post-item-content {
        color: #444;
    }

    .post-list .post-item-date {
        font-weight: bold;
        color: #757575;
    }

    .post-list .type-post .post-item-title:hover {
        /*color: #2196f3;*/
        color: #212121;
    }

/* External link symbols */

    .post-header .fa-link {
        margin-left: .3rem;
        color: #757575;
    }

    .type-status .post-item-content a:not([href*='jason.re']):not([href^='#']):not([href^='/']),
    .full-post.type-status .post-content > p > a:not([href*='jason.re']):not([href^='#']):not([href^='/']){
        /*white-space: nowrap;*/
        background: url('/assets/img/external-link.svg') no-repeat 100% 50% transparent;
        background-size: 14px 14px;
        padding-right: 16px;
        font-weight: normal;
    }

    .type-status .post-item-content a:not([href*='jason.re']):not([href^='#']):not([href^='/']):hover,
    .full-post.type-status .post-content > p > a:not([href*='jason.re']):not([href^='#']):not([href^='/']):hover{
        background-image: url('/assets/img/external-link-hover.svg')
    }

    .page-feature-image img,
    .post-feature-image img {
        max-width: 1000px;
        width: 100vw;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        
        object-fit: cover;
    }
    @media (max-width: 850px) {
        .page-feature-image img,
        .post-feature-image img {
            width: 100%;
            /*border-radius: .5rem;*/
        }
    }

/* Single Post & Page View */

    .full-post .post-content a {
        font-weight: normal;
    }

    figure {
        margin: 0 0 2rem;
    }

    .page-header .page-title,
    .post-header .post-title {
        font-size: 3rem;
    }
    @media (max-width: 1200px) {
        .page-header .page-title,
        .post-header .post-title {
            font-size: calc(1.75rem + 1.5vw);
        }   
    }

    .full-post.type-status .post-header {
        margin-bottom: 1rem;
    }

    .full-post.type-picture .post-header {
        margin-bottom: .5rem;
    }

    .full-page.has-feature-image .page-header,
    .full-post.has-feature-image .post-header {
        margin-bottom: 2rem;
    }

    .full-page .page-header,
    .full-post .post-header {
        font-family: 'Open Sans', sans-serif;
    }

    .full-post .post-header .post-title,
    .full-page .page-header .page-title {
        margin-bottom: 3rem;
    }

    .full-post.has-feature-image .post-header .post-title,
    .full-page.has-feature-image .page-header .page-title {
        margin-bottom: 1.5rem;
    }

    .full-post .post-date {
        color: #616161;
        font-weight: 600;
    }

    @media (min-width: 768px) {
        .tag-header-image {
            height: 500px;
        }
    }

    @media (min-width: 992px) {
        .header-image {
            max-height: 500px;
        }
    }

    @media (min-width: 1200px) {
        .header-image {
            max-height: 600px;
        }
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 0.5rem;
      /*font-weight: 500;*/
      line-height: 1.2;
    }

    h1, .h1 {
      font-size: 2.5rem;
    }

    h2, .h2 {
      font-size: 2rem;
    }

    h3, .h3 {
      font-size: 1.75rem;
    }

    h4, .h4 {
      font-size: 1.5rem;
    }

    h5, .h5 {
      font-size: 1.25rem;
    }

    h6, .h6 {
      font-size: 1rem;
    }

    .display-1 {
      font-size: 6rem;
      font-weight: 300;
      line-height: 1.2;
    }

    .display-2 {
      font-size: 5.5rem;
      font-weight: 300;
      line-height: 1.2;
    }

    .display-3 {
      font-size: 4.5rem;
      font-weight: 300;
      line-height: 1.2;
    }

    .display-4 {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.2;
    }

    /* RFS */
    @media (max-width: 1200px) {
      h1, .h1 {
        font-size: calc(1.375rem + 1.5vw);
      }
      h2, .h2 {
        font-size: calc(1.325rem + 0.9vw);
      }
      h3, .h3 {
        font-size: calc(1.3rem + 0.6vw);
      }
      h4, .h4 {
        font-size: calc(1.275rem + 0.3vw);
      }
    }

    .page-content hr,
    .post-content hr {
        height: 1px;
        overflow: visible;
        background-color: #eee;
        border: none;
        margin: 1.5rem 0 !important;
    }

    /*.page-content img,
    .post-content img {
        border-radius: .5rem;
    }*/

    .page-content h1,
    .page-content h2,
    .page-content h3,
    .page-content h4,
    .page-content h5,
    .page-content h6,
    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content h5,
    .post-content h6 {
        line-height: 1.2;
        margin-top: 1.75rem;
        margin-bottom: 1rem;
    }

    code, kbd, pre, samp {
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        font-size: 1em;
    }

    code {
        font-size: 87.5%;
        color: #e83e8c;
        word-break: break-word;
    }

    blockquote {
        margin: 7px 0 15px;
        padding: 1rem;
        border: 1px solid #eee;
        border-radius: .25rem;
        border-left-width: .25rem;
        border-left-color: #2196f3;
        color: #6c757d;
    }

    .hljs {
        font-size: .875rem !important;
        white-space: pre-line !important;
    }

    .tags {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-transform: lowercase;
        margin: 3rem 0 2rem;
    }

    .taglist {
        list-style: none;
        padding: 0;
    }

    .taglist-item {
        list-style-type: none;
        display: inline;
        margin-right: .5rem;
    }

    .tag-link {
        background-color: #f5f5f5;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
        color: #757575;
    }

    .tag-link:last-of-type {
        margin-right: unset;
    }

    .tag-link:hover {
        background-color: #e0e0e0;
        color: #757575;
    }

    .footnotes-sep {
        margin-top: 2.5rem;
    }

    .footnotes ol li br {
        display: none;
    }

    .footnotes {
        font-size: 80%;
        /*font-family: Merriweather;*/
        line-height: 1.618;
        font-weight: 300;
        margin-top: 2.5rem;
        /*margin-bottom: 4rem;*/
        /*color: #6c757d!important;*/
    }

    .footnotes ol {
        padding: 0;
        list-style: none;
        counter-reset: footnote-counter;
    }

    .footnotes ol li {
        list-style-type: none;
        margin: 1em 1em 1em 2em;
        position: relative;
        counter-increment: footnote-counter;
    }

    .footnotes ol li:before {
        content: counter(footnote-counter) ". ";
        position: absolute;
        left: -1.55em;
        color: #007bff;
    }

    .twitter-tweet.twitter-tweet-rendered {
        margin: .5rem auto 1rem !important;
    }

/* Images & Galleries */

    .kg-embed-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .full-post img,
    .full-post video {
        display: block;
        height: auto;
    }

    .full-post figure img {
        margin: 0;
    }

    .kg-image-card img {
        width: 100%;
    }

    .kg-embed-card figcaption,
    .kg-image-card figcaption,
    .kg-gallery-card figcaption {
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 300;
        color: #6c757d;
        text-align: center;
        padding: 0 1.5rem;
        margin: .25rem 0 1rem;
    }

    .full-page .kg-width-full,
    .full-post .kg-width-full {
        width: 100vw;
        position: relative;
        left: calc(-1 * (100vw - 100%) / 2);
    }

    @media (min-width: 992px) {
        .kg-gallery-container {
            display: flex;
            flex-direction: column;
            max-width: 960px;
            width: 100vw;            
        }
        .full-page .kg-width-wide,
        .full-post .kg-width-wide {
            width: 100vw;
            max-width: 960px;
            position: relative;
            left: calc(-1 * (960px - 100%) / 2);
        }

        .full-page .kg-width-wide .kg-image,
        .full-post .kg-width-wide .kg-image {
            max-width: 960px;
        }
    }

    .type-status .kg-image,
    .full-post .kg-image {
        max-width: 100%;
    }

    .kg-gallery-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .kg-gallery-row:not(:first-of-type) {
        margin: .5em 0 0;
    }

    .kg-gallery-image:not(:first-of-type) {
        margin: 0 0 0 .5em;
    }

    .kg-gallery-image img {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
    }

/* Author information */

    .author-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem .5rem 0;
        font-family: 'Open Sans', sans-serif;
    }

    .post-author-image {
        height: 90px;
        width: 90px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        flex-grow: 0;
        flex-shrink: 1;
    }

    .author-bio {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 1rem 1.5rem;
    }

    .author-bio h4 {
        margin: 0;
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .author-description {
        font-size: 80%;
        color: #757575;
    }

    .author-link {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .author-link a {
        color: #6c757d;
        border: 1px solid #6c757d;
        /*border-radius: 20px;*/
        border-radius: .2rem;
        padding: .25rem .5rem;
        font-size: 80%;
    }

    .author-link a:hover {
        color: #59698d;
        border-color: #59698d;
    }

    .post-footer .card {
        width: 300px;
        max-width: 300px;
    }

    .post-footer .card:last-child {
        margin-right: 0;
    }

    .post-full-footer {
        overflow-x: hidden;
    }

/* Footnotes */

    .footnotes hr {
        border: 0;
        height: 1px;
        background-color: #eee;
    }

    .footnotes-sep {
        margin-top: 2.5rem;
    }

    .footnotes {
        font-size: 80%;
        /*font-family: Merriweather;*/
        line-height: 1.618;
        font-weight: 300;
        /*margin-bottom: 4rem;*/
        /*color: #6c757d!important;*/
    }

    .footnotes-list {
        padding: 0;
        list-style: none;
        counter-reset: footnote-counter;
    }

    .footnotes-list li {
        list-style-type: none;
        margin: 1em 1em 1em 2em;
        position: relative;
        counter-increment: footnote-counter;
    }

    .footnotes-list li:before {
        content: counter(footnote-counter) ". ";
        position: absolute;
        left: -1.55em;
        color: #007bff;
    }

/* Read Next / Read Prev */
    .read-next-prev {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .read-prev {
        text-align: right;
    }

    .read-next, .read-prev {
        flex-shrink: 1;
        flex-grow: 1;
        align-content: stretch;
        flex-basis: 50%;
    }

    .read-next-label, .read-prev-label {
        display: inline-block;
        background-color: #f5f5f5;
        padding: .25rem .5rem;
        font-size: .75rem;
        line-height: 1.5;
        border-radius: .3rem;
        color: #757575;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: .5rem;
    }

    .read-prev-story, .read-next-story {
        color: #59698d;
    }

    .read-prev-story:hover, .read-next-story:hover {
        color: #212121;
    }
