{{ if .Site.Params.author }}
<div class="author-info d-flex flex-row justify-content-between align-items-center px-2 mt-3 mt-sm-4 mt-lg-5 color-grayblack{{ if or (eq .Params.type "link") (eq .Params.type "micro") }} border-top{{ end }}" style="margin-top: 4.5rem;">    
    <div class="author-image flex-shrink-1 flex-grow-0">
        {{ if .Site.Params.author.image }}
            <img class="post-author-image rounded-circle m-0 p-0" style="height: 90px; width: 90px;" alt="{{ .Site.Params.author.display_name }}" src="{{ .Site.Params.author.image }}">
        {{ end }}
    </div>
    <div class="author-bio flex-shrink-1 flex-grow-1 p-4">
        <h4 class="mb-0 mt-3 font-weight-bold text-xl">{{ .Site.Params.author.display_name }}</h4>
        <p class="text-muted text-left small">{{ .Site.Params.author.bio }}</p>
    </div>
    <div class="author-page flex-shrink-0 flex-grow-1 d-lg-block d-none">
        <a href="/about/" role="button" aria-pressed="true" class="btn btn-sm btn-outline-secondary small" style="border-radius: 20px; font-size: 80%;">About Me</a>
    </div>
</div>
{{ end }}
