{{ if .Site.Params.author }}
<div class='author-info{{ if or (eq .Params.type "link") (eq .Params.type "micro") }} author-info-border{{ end }}'>    
    <div class="author-image">
        {{ if .Site.Params.author.image }}
            <img class="post-author-image" alt="{{ .Site.Params.author.display_name }}" src="{{ .Site.Params.author.image }}">
        {{ end }}
    </div>
    <div class="author-bio">
        <h4 class="author-name">{{ .Site.Params.author.display_name }}</h4>
        <p class="author-description">{{ .Site.Params.author.bio }}</p>
    </div>
    <div class="author-link">
        <a href="/about/" role="button" aria-pressed="true" class="author-link-button" style="border-radius: 20px; font-size: 80%;">About Me</a>
    </div>
</div>
{{ end }}
