{{ $currentPage := . }}
{{ $currentPageSlug := .Slug }}
<nav id="footer-nav" class="">
    <div class="content-wrap">
        <ul class="item-list">
            <li class="nav-item copyright">{{ .Site.Params.copyright }}</li>
            {{ range .Site.Menus.Footer }}
            <li class="nav-item"><a class='nav-link{{if or ($currentPage.IsMenuCurrent "footerleft" .) ($currentPage.HasMenuCurrent "footerleft" .) }} active{{end}}' href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ if .Site.Params.author.social.twitter }}<li class="nav-item item-twitter"><a class="nav-link" href="{{ .Site.Params.author.social.twitter }}" title="Twitter" target="_blank" rel="noopener">Twitter</a></li>{{ end }}
            {{ if .Site.Params.author.social.mastodon }}<li class="nav-item item-mastodon"><a class="nav-link" href="{{ .Site.Params.author.social.mastodon }}">Mastodon</a></li>{{ end }}
            <li class="nav-item top-anchor"><a class="nav-link" href="#top">Back to Top ↑</a></li>
        </ul>
    </div>
</nav>
