<li class="post-item pb-4 pb-md-5 mb-4 mb-md-5 border-bottom">
    <article class="post-article tag-{{ .Page.Params.type }}">
        {{ $date := .Page.Date.Format "January 2, 2006 15:04 MST" }}
        {{ if or (eq .Page.Params.Type "micro") (eq .Page.Params.Type "link") (eq .Page.Params.Type "picture") }}
            <div class="post-content">{{ .Page.Content }}</div>
            <a href="{{ .Page.RelPermalink }}" class="text-secondary text-sm text-uppercase"><span style="color: var(--pink);">&rarr;</span> {{ $date }}</a>
        {{ else }}
            <h2 class="post-title my-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h2>
            <p class="post-excerpt">{{ .Page.Summary }}</p>
            <span class="text-secondary text-sm text-uppercase"><span style="color: var(--pink);">&rarr;</span> {{ $date }}</span>
        {{ end }}      
    </article>
</li>
