<li class="post-item">
    <article class="post-excerpt{{ with .Page.Params.type }} type-{{ . }}{{else}} type-post{{ end }}">
        {{ if or (eq .Page.Params.Type "micro") (eq .Page.Params.Type "picture") }}
            {{ $date := .Page.Date.Format "January 2, 2006 • 15:04 MST" }}
            <header class="post-header">
                <a href="{{ .Page.RelPermalink }}" class="post-item-date">{{ $date }}<i class="fas fa-link"></i></a>
            </header>
            <section class="post-item-content{{ if lt (len .Page.Content) 140}} text-xl{{ else if (and (lt (len .Page.Content) 280) (gt (len .Page.Content) 140) ) }} text-lg{{ end }}">
                {{ .Page.Content }}
            </section>
        {{ else if eq .Page.Params.Type "link" }}
            {{ $date := .Page.Date.Format "January 2, 2006 • 15:04 MST" }}
            <header class="post-header">
                <h2><a class="post-item-title" href="{{ .Page.Params.link_url }}" target="_blank"><i class="fas fa-external-link-alt" data-fa-transform="shrink-4"></i>{{ .Page.Params.link_title }}</a></h2>
                <a href="{{ .Page.RelPermalink }}" class="post-item-date">{{ $date }}</a><i class="fas fa-link"></i>
            </header>
            {{ with .Page.Params.link_comment }}
            <section class="post-item-content{{ if lt (len .) 140}} text-xl{{ else if (and (lt (len .) 280) (gt (len .) 140) ) }} text-lg{{ end }}">
                <p>{{ . | markdownify }}</p>
            </section>
            {{ end }}
        {{ else }}
            {{ $date := .Page.Date.Format "January 2, 2006" }}
            <a href="{{ .Page.RelPermalink }}" class="post-item-title">
                <header class="post-header">
                    <h2>{{ .Page.Title }}</h2>
                    <span class="post-item-date">{{ $date }}</span>
                </header>
                <section class="post-item-content">
                    <p class="">{{ .Page.Summary }}</p>
                </section>
            </a>
        {{ end }}
    </article>
</li>
