<li class="post-item">
    <article class="post-article{{ with .Page.Params.type }} tag-{{ . }}{{ end }}" style="margin-bottom: 5rem;">
            {{ if or (eq .Page.Params.Type "micro") (eq .Page.Params.Type "picture") }}
                {{ $date := .Page.Date.Format "January 2, 2006 • 15:04 MST" }}
                <a href="{{ .Page.RelPermalink }}" class="text-secondary text-uppercase text-decoration-none font-weight-light">{{ $date }}</a>&nbsp;<i class="fas fa-link text-secondary"></i>
                <hr class="mx-0 mt-3 mb-4 pink" style="width: 4em; height: 2px;">
                <div class="post-content {{ if lt (len .Page.Content) 140}} text-xl{{ else if (and (lt (len .Page.Content) 280) (gt (len .Page.Content) 140) ) }} text-lg{{ end }}">{{ .Page.Content }}</div>
            {{ else if eq .Page.Params.Type "link" }}
                {{ $date := .Page.Date.Format "January 2, 2006 • 15:04 MST" }}
                <h2><i class="fas fa-external-link-alt" data-fa-transform="shrink-5"></i><a class="link-title text-dark" href="{{ .Page.Params.link_url }}" target="_blank">{{ .Page.Params.link_title }}</a></h2>
                <a href="{{ .Page.RelPermalink }}" class="text-secondary text-uppercase text-decoration-none font-weight-light">{{ $date }}</a><i class="fas fa-link text-secondary ml-2"></i>
                <hr class="mx-0 mt-3 mb-4 pink" style="width: 4em; height: 2px;">
                {{ with .Page.Params.link_comment }}<p class="post-content">{{ . }}</p>{{ end }}
            {{ else }}
                {{ $date := .Page.Date.Format "January 2, 2006" }}
                <h2 class="mb-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h2>
                <span class="text-secondary text-uppercase font-weight-light">{{ $date }}</span>
                <hr class="mx-0 mt-3 mb-4 pink" style="width: 4em; height: 2px;">
                <p class="post-excerpt">{{ .Page.Summary }}</p>
            {{ end }}
    </article>
</li>
