<div class="row">
    <div class="post-micro tag-{{ .Page.Params.type }} col-12 border rounded bg-white mx-auto" style="max-width: 47em;">
        <div class="post-content post-micro-text text-justify text-md-left py-4 px-sm-3 p-md-5">
            {{ .Content }}
            <p class="post-micro-header text-secondary text-sm text-uppercase mt-4 mb-0"><span style="color: var(--pink);">&rarr;</span> {{ .Page.Date.Format "January 2, 2006 15:04 MST" }}</p>
            {{ partial "taglist.html" . }}
            {{ partial "author-info.html" . }}
        </div>
    </div>
</div>
