<!-- This is a full post -->
<div class="full-post{{ with .Page.Params.type }} type-{{ . }}{{else}} type-post{{ end }}">
    {{ if eq .Page.Section "micros" }}
    <header class="post-header">
        <div class="post-date">{{ .Page.Date.Format "January 2, 2006 • 15:04 MST" }}</div>
    </header>
    <section class="post-content">
        {{ .Content }}
    </section>
    {{ else if eq .Page.Section "links" }}
    <header class="post-header">
        <div class="post-date">{{ .Page.Date.Format "January 2, 2006 • 15:04 MST" }}</div>
        <h2 class="post-title">
            <a class="link-title text-dark" href="{{ .Page.Params.link_url }}" target="_blank"><i class="fas fa-external-link-alt" data-fa-transform="shrink-4"></i>{{ .Page.Params.link_title }}</a>
        </h2>
    </header>
    {{ with .Page.Params.link_comment }}<section class="post-content">{{ . }}</section>{{ end }}
    {{ end }}
    <aside class="related-content">
        {{ partial "taglist.html" . }}
        {{ partial "author-info" . }} 
    </aside>
    <footer class="post-footer">
        {{/*- partial "related-read-next" . */}}
    </footer>
</div>
