<div class="full-page d-flex flex-column h-100">
    <!-- This is a full, long post -->
    <div class="flex-grow-1 flex-shrink-0">
        {{if .Params.feature_image }}
        <div class="row">
            <div class="header-image col-12 px-0">
                <img class="img" alt="Header Image" src="{{ .Params.feature_image }}">
            </div>
        </div>
        {{ end }}
        <div class="row">
            <div class="post col-12 border rounded bg-white mx-auto{{if .Params.feature_image }} header-content-wrap{{ end }}" style="max-width: 47em;">
                <div class="post-page page-content text-justify text-md-left py-4 px-sm-3 px-sm-4 p-lg-5">
                    <h1 class="post-title mb-4 mb-md-5 color-grayblack text-left font-weight-light">{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
