<!-- This is a full page -->
<div class="full-page type-page{{if .Params.feature_image }} has-feature-image{{ end }}">
    <header class="page-header">
        <h1 class="page-title">{{ .Title }}</h1>
        {{if .Params.feature_image }}
            <div class="page-feature-image">
                <img alt="Header Image" src="{{ .Params.feature_image }}">
            </div>
        {{ end }}
    </header>
    <section class="page-content">
        {{ .Content }}
    </section>
    <!-- <footer class="page-footer"></footer> -->
</div>
