{{ $pag := $.Paginator }}

<ul class="pagination">
    {{ if $pag.HasPrev }}
    <li class="page-item page-prev"><a href="{{ $pag.Prev.URL }}" rel="prev" class="page-link">« Prev</a></li>
    {{ else }}
    <li class="page-item page-prev disabled"><a href="" rel="prev" class="page-link">« Prev</a></li>
    {{ end }} {{ if $pag.HasNext }}
    <li class="page-item page-next"><a href="{{ $pag.Next.URL }}" rel="next" class="page-link">Next »</a></li>
    {{ else }}
    <li class="page-item page-next disabled"><a href="" rel="next" class="page-link">Next »</a></li>
    {{ end }}
</ul>