{{ $img := (.Resources.ByType "image").GetMatch "images/*feature*" }}
{{if or (.Params.feature_image) ($img) }}
<figure class="figure feature-figure">
    {{ if .Params.feature_image }}
    <img alt="Page Feature Image" class="feature-image img-fluid" src="{{ .Params.feature_image }}">
    {{ end }}
    {{ with $img }}
    {{ $regular := .Resize "900x" }}
    {{ $mid := .Resize "1400x" }}
    {{ $big := .Resize "1800x" }}
    <img class="feature-image img-fluid border border-secondary-subtle border-1 rounded-3"
         srcset="{{ $regular.RelPermalink }},
                 {{ $mid.RelPermalink }} 1.5x,
                 {{ $big.RelPermalink }} 2x"
         alt="Page Feature Image"
         src="{{ $big.RelPermalink }}">
    {{ end }}
</figure>
{{ end }}