<!-- This is a full post -->
<div class="full-post type-post{{if .Params.feature_image }} has-feature-image{{ end }}">
    <header class="post-header">
        <div class="post-date">{{ .Page.Date.Format "January 2, 2006" }}</div>
        <h1 class="post-title">{{ .Title }}</h1>
        {{if .Params.feature_image }}
            <div class="post-feature-image">
                <img alt="Header Image" src="{{ .Params.feature_image }}">
            </div>
        {{ end }}
    </header>
    <section class="post-content">
        {{ .Content }}
    </section>
    <aside class="related-content">
        {{ partial "taglist.html" . }}
        {{ partial "author-info" . }} 
    </aside>
    <footer class="post-footer">
        {{- partial "related-read-next" . }}
    </footer>
</div>
