<div class="read-next-prev">
    <div class="read-next">
    {{ if .NextInSection }}
        <a class="read-next-story" href="{{ .NextInSection.Permalink }}">
            <span class="read-next-label">Read this next</span>
            <h5 class="read-next-title">» {{ .NextInSection.Title }} «</h5>
        </a>
    </div>
    {{ end }}
    {{ if .PrevInSection }}
    <div class="read-prev">
        <a class="read-prev-story" href="{{ .PrevInSection.Permalink }}">
            <span class="read-prev-label">You might enjoy</span>
            <h5 class="read-prev-title">» {{ .PrevInSection.Title }} «</h5>
        </a>
    </div>
    {{ end }}
</div>
