<header class="navbar flex-column flex-md-row justify-content-center justify-content-md-between border-bottom py-3 mb-5">
    {{- $img := resources.Get "images/author.jpg" -}}
    {{ with $img }}
        {{ $regular := .Resize "40x" }}
        {{ $double := .Resize "80x" }}
        <span class="navbar-brand fs-3"><img srcset="{{ $regular.RelPermalink }} 1x, {{ $double.RelPermalink }} 2x" src="{{ $regular.RelPermalink }}" alt="Blog logo" class="d-inline-block rounded-circle border border-2 border-light-subtle me-2"/>{{ $.Site.Title }}</span>
    {{ end }}
    <ul class="navbar-nav nav-underline flex-row">
        {{ $currentPage := . }}
        {{ $menuitems := (.Site.Menus.main) }}
        {{ $len := (len $menuitems) }}
        {{ range $index, $element := $menuitems }}
        {{ $id := .Identifier }}
        {{ $entryno :=add $index 1 }}
        <li class="nav-item">
            <a class="nav-link{{if ($currentPage.IsMenuCurrent "main" .) }} active{{end}}{{if not (eq $entryno $len)}}{{end}}" {{if eq $id "mastodon"}}rel="me" {{end}}title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</header>