<nav id="top-nav" class="nav">
    <h4 class="site-title"><a href="/">{{ .Site.Title }}</a></h4>
    <div class="navbar-navitems">
        <ul class="item-list">
            <!-- Loop through the navigation items -->
            {{ $currentPage := . }}
            {{ $currentPageSlug := .Slug }}
            {{ range .Site.Menus.main }}
            <li class='nav-item nav-{{ $currentPageSlug }}'>
                <a class='nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}' href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            <!-- End the loop -->
        </ul>
    </div>
</nav>
