{{ define "main" }}
<div class="row my-4 my-md-5">
    {{/*<div class="col-md-6 order-1">
        <a class="h2 text-dark font-weight-light text-decoration-none" href="/all/">Recent Content</a>
        <hr class="mx-0 mb-4 pink" style="width: 48px; height: 2px;">
        <div class="post-list">
            {{ range (first 8 (where $.Site.RegularPages ".Params.type" "!=" "page")) }}
                {{ $date := .Page.Date.Format "January 2, 2006 15:04 MST" }}
                <aside class="mb-3 mb-md-2">
                    <h3 class="my-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h3>
                    <span class="text-secondary text-sm text-uppercase"><span class="pink-text">&rarr;</span> {{ $date }}</span><span class="ml-2 small text-capitalize badge badge-primary">{{ .Page.Params.Type }}</span>
                </aside>
            {{ end }}
        </div>
    </div>*/}}
    <div class="col-md-6 order-1">
        <a class="h3 text-dark font-weight-light text-decoration-none" href="/posts/">Recent Blog Posts</a>
        <hr class="mx-0 mb-4 pink" style="width: 48px; height: 2px;">
        {{ range (first 5 (where $.Site.RegularPages ".Section" "posts")) }}
                {{ $date := .Page.Date.Format "January 2, 2006 15:04 MST" }}
                <aside class="mb-3 mb-md-2">
                    <h4 class="my-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h4>
                    <span class="text-secondary text-sm text-uppercase"><span class="pink-text">&rarr;</span> {{ $date }}</span>
                </aside>
        {{ end }}
    </div>

    <div class="col-md-6 order-2 mt-4 mt-md-0">
        <a class="h3 text-dark font-weight-light text-decoration-none" href="/posts/">Recent Micro Posts</a>
        <hr class="mx-0 mb-4 pink" style="width: 48px; height: 2px;">
        {{ range (first 5 (where $.Site.RegularPages ".Section" "micros")) }}
                {{ $date := .Page.Date.Format "January 2, 2006 15:04 MST" }}
                <aside class="mb-3 mb-md-2">
                    <h4 class="my-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h4>
                    <span class="text-secondary text-sm text-uppercase"><span class="pink-text">&rarr;</span> {{ $date }}</span>
                </aside>
        {{ end }}
    </div>

    <div class="col-md-4 order-3 mt-4 mt-md-5">
        <a class="h3 text-dark font-weight-light text-decoration-none" href="/links/">Recent Links</a>
        <hr class="mx-0 mb-4 pink" style="width: 48px; height: 2px;">
        {{ range (first 5 (where $.Site.RegularPages ".Section" "links")) }}
                {{ $date := .Page.Date.Format "January 2, 2006 15:04 MST" }}
                <aside class="mb-3 mb-md-2">
                    <h4 class="my-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h4>
                    <span class="text-secondary text-sm text-uppercase"><span class="pink-text">&rarr;</span> {{ $date }}</span>
                </aside>
        {{ end }}
    </div>

    <div class="col-md-4 order-4 mt-4 mt-md-5">
        <a class="h3 text-dark font-weight-light text-decoration-none" href="/pictures/">Recent Pictures</a>
        <hr class="mx-0 mb-4 pink" style="width: 48px; height: 2px;">
        {{ range (first 5 (where $.Site.RegularPages ".Section" "pictures")) }}
                {{ $date := .Page.Date.Format "January 2, 2006 15:04 MST" }}
                <aside class="mb-3 mb-md-2">
                    <h4 class="my-1"><a href="{{ .Page.RelPermalink }}" class="text-dark">{{ .Page.Title }}</a></h4>
                    <span class="text-secondary text-sm text-uppercase"><span class="pink-text">&rarr;</span> {{ $date }}</span>
                </aside>
        {{ end }}
    </div>

    <div class="col-md-4 order-5 mt-4 mt-md-5">
        <a class="h3 text-dark font-weight-light text-decoration-none" href="/about/">About</a>
        <hr class="mx-0 mb-4 pink" style="width: 48px; height: 2px;">
        {{ range where $.Site.RegularPages ".Title" "About" }}
        {{/*{{ .Content }}*/}}
        <p>{{ .Summary }}<span class="ml-2 pink-text">&rarr;</span>&nbsp;<a class="text-secondary text-sm text-uppercase" href="{{ .Page.RelPermalink }}">More</a></p>
        {{ end }}
    </div>

</div>
{{ end }}
